.main-container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding-top: 50px;
}

.notes-list{
    margin-top: 35px;
    margin-bottom: 70px;
}

.has-icon-left{
    position: relative;
}

.has-icon-left .input{
    border: 1px solid #eee;
    box-shadow: none;
    width: 100%;
    height: 40px;
    text-indent: 40px;
}

.has-icon-left span{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.add-button{
    position: fixed;
    bottom: 0px;
    width: 96%;
    max-width:  500px;
    height: 68px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    background-color: #7ba0ef;
    color: #fff;
    box-shadow: 0px 0px 15px 5px rgb(165,154 ,215 , 0.2); 
}

app-note-card {
    display: block;
    margin-bottom: 25px;
}